$menu-grey: rgba(139, 137, 132, 0.7);
@mixin flex-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  color: white;
  font-family: Varela Round;
  margin: 0;
}

h1 {
  font-family: Special Elite;
  font-size: 270%;
  margin-top: 1%;
}

h2 {
  font-size: 110%;
  width: auto;
}

main {
  background: center url("../images/brokenCabin.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

nav {
  @include flex-setup;
  background-color: $menu-grey;
  height: 100px;
  text-align: center;
  width: 100vw;
}

.main-area {
  display: flex;
  justify-content: center;
}

.landing-container {
  @include flex-setup;
  align-items: center;
  background-color: $menu-grey;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 3px #000000;
  height: 160px;
  margin-top: 12%;
  width: 30%;
}

#password,
#username {
  border-radius: 5px;
  color: black;
  font-size: 90%;
  height: 60%;
  padding-left: 4%;
  width: 80%;
}

label {
  display: block;
}

.sign-in-container {
  display: flex;
  margin: 2%;
}

.sign-in-block {
  margin: 3%;
}

.book-this-cabin-button,
.go-back-button,
.log-out-button,
.new-search-button,
.sign-in-button {
  border-radius: 5px;
  color: #000000;
  height: 16%;
  margin: 1%;
  width: 90%;
}

.book-this-cabin-button {
  height: 30%;
  margin: 10% 3% 3% 17%;
  width: 25%;
}

.book-this-cabin-button:hover,
.log-out-button:hover,
.sign-in-button:hover {
  cursor: pointer;
}

.sign-in-button {
  width: 85%;
}

.go-back-button,
.log-out-button,
.new-search-button {
  height: 30px;
  position: absolute;
  right: 4%;
  top: 3%;
  width: 70px;
}

.go-back-button,
.new-search-button {
  left: 4%;
  right: 0;
}

.go-back-button:hover,
.new-search-button:hover {
  cursor: pointer;
}

.user-validation {
  background-color: rgba(139, 137, 132, 0.9);
  margin: 2%;
}

.hidden {
  display: none;
}
