$menu-grey:rgba(139, 137, 132, 0.7);

* {
  color: white;
  margin: 0px;
  font-family: Special Elite;
}

h1 {
  font-size: 270%;
}

h2 {
  margin-top: 1%;
  font-size: 110%;
}

main {
  background: center url('../images/brokenCabin.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100vw;
  background-color: $menu-grey;
}

.main-area {
  display: flex;
  justify-content: center;
}

.landing-container {
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $menu-grey;
  width: 30%;
  height: 160px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 3px #000000;
}

#username,
#password {
  color: black;
  width: 80%;
  height: 60%;
  border-radius: 5px;
  padding-left: 4%;
  font-size: 90%;
}

label {
  display: block;
}

.sign-in-container {
  margin: 2%;
  display: flex;
}

.sign-in-block {
  margin: 3%;
}

.book-this-cabin-button,
.new-search-button,
.log-out-button,
.sign-in-button {
  color: #000000;
  width: 90%;
  height: 16%;
  margin: 1%;
  border-radius: 5px;
}

.book-this-cabin-button {
  width: 25%;
  height: 30%;
  margin: 10% 3% 3% 17%;
}

.log-out-button:hover,
.sign-in-button:hover {
  cursor: pointer;
}

.new-search-button,
.log-out-button {
  position: absolute;
  top: 3%;
  right: 4%;
  width: 70px;
  height: 30px;
}

.new-search-button {
  right: 0%;
  left: 4%;
}

.new-search-button:hover {
  cursor: pointer;
}

.user-validation {
  margin: 2%;
  background-color: rgba(139, 137, 132, 0.9);
}

.hidden {
  display: none;
}
