$menu-grey:rgba(139, 137, 132, 0.7);

* {
  color: white;
  margin: 0px;
}

.book-a-cabin-container,
.past-future-container,
.past-future-container-manager,
.available-res-container,
.make-booking-for-this-guest-container,
.manager-available-res-container,
.search-users-container {
  height: 400px;
  overflow: scroll;
  margin: 5%;
  background-color: $menu-grey;
  width: 30%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 3px #000000;
}

.user-search-input {
  height: 27px;
  width: 50%;
  border-radius: 5px;
  margin-top: 4%;
  color: #000000;
  padding-left: 3%;
}

.total-occupancy {
  font-size: 200%;
  margin: 4%;
}

.search-users-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-a-cabin-container {
  overflow: visible;
}

.past-future-heading {
  text-align: center;
  margin: 3%;
}

.past-future-card-area,
.available-res-card-area,
.manager-past-future-card-area,
.manager-past-future-card-area-delete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.available-res-card,
.past-future-card,
.manager-past-future-card {
  margin: 1%;
  width: 90%;
  height: auto;
  background-color: rgba(139, 137, 132, 0.9);
  border-radius: 5px;
}

.manager-past-future-card {
  display: flex;
}

.available-res-card {
  height: 130px;
  display: flex;
}

.cabin-stats-container {
  padding: 1%;
  width: 100%;
  height: auto;
}

.select-date-button,
.search-users-button,
.delete-booking-button,
.possible-dates-dropdown {
  color: #000000;
  width: 30%;
  height: 30px;
  border-radius: 5px;
  font-size: 80%;
}

.delete-booking-button {
  width: 100%;
  margin: 25% 20% 20% 80%;
}

.delete-booking-button:hover {
  cursor: pointer;
}

.search-users-button {
  width: 54%;
  margin: 4%;
}

.search-users-button:hover {
  cursor: pointer;
}

.select-date-button:hover,
.possible-dates-dropdown:hover {
  cursor: pointer;
}

.select-dates-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-date-button {
  margin: 3%;
  width: 42%;
}

.room-type-dropdown {
  margin: 6% 6% 3% 6%;
  width: 42%;
}


.radio-button {
  margin: 3%;
  font-size: 100%;
}

.search-user-database-heading {
  margin-top: 3%;
}

.date-input {
  margin-top: 9%;
  height: 27px;
  color: #000000;
  border-radius: 5px;
  font-size: 90%;
  width: 37%;
  padding-left: 4%;
}

.customer-no-results-error {
  margin-top: 4%;
}

.room-type-dropdown {
  height: 30px;
  color: #000000;
}

.hidden {
  display: none;
}
